.btn {
  @apply font-sans bg-brand py-3 px-8 font-semibold text-white text-center transition-shadow;
  border-radius: 48px;
  cursor: pointer;
  height: 54px;
  &:hover {
    @apply shadow-lg bg-brand-hover;
  }
  &--secondary {
    @apply bg-transparent text-brand border border-brand border-solid;
  }
}
