.slide-fade-enter-active {
  transition: all .5s ease-in-out;
  max-width: 394px;
}
.slide-fade-leave-active {
  transition: all .5s ease-in-out;
  max-width: 394px;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
}
